.banner {
    height: 100vh;
    background-image: url(../images/7825073.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo {
    padding: 50px;
}

.verMais {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.4s;
}

.teste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    overflow: hidden;
}

.verMais:hover {
    color: black;
    background-color: white;
}



.inner {
    display: flex;
}

@media screen and (max-width: 768px) {
    .banner {
        background-image: url(../images/7825067.jpg);
    }
}
